main {
  background-color: rgba(0,0,0,0.2);
}

header {
  background-color: rgba(0,0,0,0.8);
  display: inline-flex;
  width: 100%;
  flex-flow: row;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

svg {
  height: 8vh;
  fill: white;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
nav {
  margin-top: 2.5vh;
  text-align: center;
}
ul {
  list-style: none;
  display: inline-flex;
}

/*li {*/
/*  min-width: 10vw;*/
/*  text-align: center;*/
/*}*/

/*li a {*/
/*  color: white;*/
/*  text-decoration: none;*/
/*  text-transform: uppercase;*/
/*  font-size: 1.4rem;*/
/*}*/

/*a.active {*/
/*  color: red;*/
/*}*/

#menu-container {
  width: 100%;
  padding-right: 3vw;
}

li {
  width: 6vw;
}

li > a{
  text-align: center;
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
}
li > a:hover,
li > a:focus {
  color: #fff;
  text-decoration: none;
}
li > a::after {
  content: "";
  position: absolute;
}

li a::after {
  top: 100%;
  height: 3px !important;
  width: 0;
  left: 50%;
  background-color: red;
  transition: 0.2s ease-out all .1s;
}

li:hover a::after {
  width: 101%;
  left: 0;
  transition: 0.3s ease all;
}

li > a.active{
  color: gray;
}
